.navbar {
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
    background-color: #fff !important;

    .navbar-nav {
        li {
           text-overflow: inherit;
            margin: 0 20px;
        }

        .menu-dropdown {
            background-color: white;
            display: none;
            position: absolute;
            width: 70%;
            flex-wrap: wrap;
            margin-right: -12px;
            margin-left: -12px;
            z-index: 20;


        }

        .active {
            display: block;
        }

        .navbar-menu-li {

            list-style: none;
            margin: 15px 5px;

            a {
                color: #00000061;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: .15px;
            }



        }
    }

    .credits-menu {

        .navbar-menu-li {

            list-style: none;
            margin: 15px 5px;

            a {
                color: #00000061;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: .15px;
            }



        }
    }


    #header-dropdown-btn {
        display: flex;
        justify-content: flex-end;
        width: 25%;

        button {
            margin-right: 30px;
            background: #058d66;

        }

        @media only screen and (max-width:538px) {

            justify-content: flex-start;
        }


    }
}